{{>main}}
<!DOCTYPE html>
<html lang="en">
<head>

<body class="hold-transition login-page">

<div class="content-wrapper">
 
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
   
      <form action="add" method="post">


            <div>
                <label>Subcategory Name</label>
                <input class="form-control" type="text" name="subcategoryname">&nbsp;<br/>
                <label>Subcategory Name</label><br>

                <select name="_category">
                  {{#each mydata}}
                  <option value="{{_id}}">{{category_name}}</option>
                  {{/each}}
                </select>&nbsp
                <button class="btn btn-primary btn-block" type="submit">Submit</button><br/>
            </div>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>

</body>
</html>
