<html>
    <head>
        <meta charset="utf-8">
        <title>Add</title>
    </head>
    <body>
        <form  method="POST" >
            <div>
                <label>State Name</label>
                <input type="text" value="{{mydata.state_name}}" name="statename">
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>